.container {
  background-color: var(--gray-900);
  width: 100vw;
  display: flex;
  height: 10rem;
  justify-content: center;
  align-items: center;
}

.container img {
  width: auto;
  height: 2.5rem;
}
