.container {
  position: absolute;
  max-width: 70rem;
  margin: 2rem auto;
  left: calc(50% - 736px / 2);
  top: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasksInfo {
  width: 100vh;
  display: flex;
  justify-content: space-between;
}

.tasksInfoCreated {
  color: var(--blue-100);
}

.tasksInfoDone {
  color: var(--purple);
}

.tasksInfo span {
  padding: 2px 8px;
  margin-left: 8px;
  gap: 10px;
  color: var(--white);
  width: 25px;
  height: 19px;
  background: var(--gray-200);
  border-radius: 999px;
}

@media (max-width: 700px) {
  .container {
    display: flex;
    left: 0;
    top: 0;
    position: relative;
  }

  .tasksInfo {
    width: 768px;
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: space-around;
  }

  .tasksInfo span {
    margin-left: 0.3rem;
  }
}
