.tasksInfo {
  width: 70vw;
  max-width: 47rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tasksInfoCreated {
  color: var(--blue-100);
}

.tasksInfoDone {
  color: var(--purple);
}

.tasksInfo span {
  padding: 2px 8px;
  margin-left: 8px;
  gap: 10px;
  color: var(--white);
  width: 25px;
  height: 19px;
  background: var(--gray-200);
  border-radius: 999px;
}

.contentList {
  max-width: 47rem;
  width: 80vw;
  display: flex;
  flex-direction: column;
  border: none;
}

.contentItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  width: 100%;
  height: 72px;
  background: #262626;
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-top: 1rem;
}

.checkboxRound {
  width: 1.3em;
  height: 1.3em;
  background-color: #262626;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid var(--blue-100);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkboxRound:checked {
  background-color: var(--purple);
  border: 2px solid var(--purple);
  content: "v";
  color: white;
  visibility: visible;
}

@media (max-width: 700px) {
  .tasksInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tasksInfo span {
    margin-left: 0.3rem;
  }
  /* .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */
}
