:root {
  --white: #ffffff;
  --purple: #8284fa;
  --blue-100: #4ea8de;
  --blue-300: #1e6f9f;
  --gray-100: #e1e1e6;
  --gray-200: #333333;
  --gray-300: #808080;
  --gray-400: #454545;
  --gray-500: #262626;
  --gray-700: #1a1a1a;
  --gray-900: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-700);
  color: var(--gray-100);
}

input,
body,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
