:root {
  --white: #ffffff;
  --blue: #1e6f9f;
  --gray-100: #e1e1e6;
  --gray-300: #808080;
  --gray-400: #454545;
  --gray-500: #262626;
  --gray-700: #1a1a1a;
  --gray-900: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-700);
  color: var(--gray-100);
}
